<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>D'accord ?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <style>
        body {
            background: darkorange;
            margin: 0;
            font-family: Verdana, sans-serif;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        button {
            padding: 15px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            display: block;
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
        }

        button:hover {
            background-color: black;
            color: white;
        }

        p {
            margin: 0;
            font-size: 2rem;
        }

        .form {
            position: absolute;
            margin: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .result-ok {
            font-size: 18rem;
        }
    </style>
</head>
<body>

<div class="container">
    {% if alert is defined and alert is not empty %}
        {% for key,messages in alert %}
            <div class="alert alert-dismissible alert-{{ key }} container">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for msg in messages %}
                    {{ msg }}<br>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</div>
</body>
</html>
