{% extends "layout.twig" %}

{% block content %}

    <div class="form">
        <p>Jusqu'à présent</p>
        <div class="result-ok">{{ nb }}</div>
        <p>"d'accord" ont été formulés</p>
        <button class="ok">D'accord ?</button>
        <button class="raz">RAZ</button>
        <hr>
        <h2>Intervalle moyen entre les "d'accord"</h2>
        <p><span class="result-moyenne">{{ moyenne }}</span> s</p>
    </div>

    <script defer>
      $(function () {
        $('.ok').click(function () {
          $.post('{{ path_for('inc') }}', function (data) {
            $('.result-ok').html(data.nb);
            $('.result-moyenne').html(data.moyenne)
          });
          return false
        });

        $('.raz').click(function () {
          $.post('{{ path_for('raz') }}', function (data) {
            $('.result-ok').html(data);
            $('.result-moyenne').html(data)
          });
          return false
        })
      })
    </script>

{% endblock %}
